{% extends "layout.html" %}
{% block title %}homepage{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- Page content goes here -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the About page</h1>
            <p>Welcome to our gallery app! Our app is designed to provide you with a stunning visual experience,
                allowing you to browse through a diverse collection of artworks and photographs from all around the
                world.</p>

            <p>With an intuitive and user-friendly interface, you can effortlessly navigate through different galleries,
                view high-resolution images, and even interact with the art community by sharing your thoughts and
                feedback.</p>

            <p>Whether you're an art enthusiast, a photographer, or simply someone who appreciates beautiful imagery,
                our gallery app is the perfect platform to immerse yourself in the world of visual artistry.</p>

            <p>Explore, admire, and connect with artists and fellow enthusiasts all in one place.</p>
        </div>
    </div>
</div>

{% endblock %}